#doc {
  #doc_header {
    margin-bottom: 1em;
  }

  #doc_operations {
    margin-top: 1.5em;

    a {
      min-width: 6em;
    }
  }

  #doc_history {
    margin: 2em 0;

    h4 {
      margin: 0 0 0.25em;
      font-weight: bold;
    }
  }  
}
