<div class='doc_item'>
  <div class='name'>
    <h3><%= link_to doc.name, doc_path(doc) %></h3>
  </div>
  <p class='excerpt'><%= excerpt_from(doc.content) %></p>
  <%= render 'doc_info', doc: doc %>
</div>