  <div class='doc_metadata'>
    <span class='tags'>
      <%= tag_list_for(doc.tags).html_safe %>
    </span>
    <span class='doc_properties'> 
      <span title='last updated'>
        <%= glyphicon_for(:user,doc.modifier.name) %>
        &nbsp;
        <%= glyphicon_for(:calendar,time_ago_in_words(doc.updated_at)) %> ago
      </span>
    </span>
    <div style='clear:both'></div>
  </div>
