<h2><%= @title %></h2>

<div id='doc_list'>
  <% if @docs.count > 0 %>
    <%= render collection: @docs, partial: 'doc_list_item', as: :doc %>
    <%= paginate @docs %>
  <% else %>
    There are no docs.
  <% end %>
</div>