.searchbox-collection-name {
  text-transform: uppercase;
  font-size: 0.8em;
  float:left;
}

.searchbox-collection-more {
  float: right;
  font-size: 0.8em;
  color: #999;
}

.searchbox-collection-header {
  display: block;
  height: 1em;
}

.searchbox-item {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.select2-arrow {
  visibility: hidden;
}