// Place all the styles related to the docs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Show Page
#doc_header {
  margin-bottom: 1em;

  h2 {
    display: inline;
  }

  .tags {
    margin-top: 0.55em;
  }

}

// Edit Page
#doc_name {
  width: 100%;  
}

.tag_selector {
  width: 100%;
}

.doc_operations {
  margin-top: 1.5em;

  a {
    min-width: 6em;
  }
}


// Index Page 
.doc_item {
  a {
    color: black;
  }

  h3 {
    font-size: 1.25em;
    margin: 0 0 0.25em 0;
  }

  .excerpt {
    margin: 0 0 0.25em 0;
    clear: both;
  }

  .doc_details {
    margin: 0;
    color: #999;
    font-size: 0.8em;
  }

  padding: 0 0 1em 0.25em;
  border-top: 1px solid #999;
}

.tags_container {
  text-align: right;
}

.tags {
  margin-bottom: 0.5em;

  font-size: 0.8em;
  color: #999;
  font-weight: bold;

  a {
    color: #999;
  }
  a:hover {
    text-decoration: none;
  }


/*.tags {
  background-color: #A0A0A0;
  border-radius: 0.5em;
  padding: 0.25em;
  float: right;
  font-size: 0.8em;
  color: white;
  font-weight: bold;
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
  }
*/}

.pagination {
  vertical-align: middle;
  text-align: center;
}

#page_content_container {
  width: 100%;
}

#page_content {
  max-width: 35em;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
}