// Place all the styles related to the docs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Show Page
h2 {
  margin-bottom: 1em;
}

// Edit Page
#doc_name {
  width: 100%;  
}

.tag_selector {
  width: 100%;
}

.doc_operations {
  margin-top: 1.5em;

  a {
    min-width: 6em;
  }
}


// Doc Index 
.doc_item {
  a {
    color: black;
  }

  h3 {
    font-size: 1.25em;
    margin: 0 0 0.25em 0;
  }

  padding: 1em 0.25em;
  border-bottom: 1px solid #e0e0e0;
}

.excerpt {
  margin: 0 0 0.5em 0;
  clear: both;
}

.pagination {
  vertical-align: middle;
  text-align: center;
}

// Tag Index
.tag_list {
  padding: 1em 0.25em;
}

// Global
.doc_details {
  margin: 0.25em 0 0 0;
  color: #999;
  font-size: 0.8em;
  float: right;
}

#page_content_container {
  width: 100%;
}

#page_content {
  max-width: 40em;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
}

.select2-collection-name {
  text-transform: uppercase;
  font-size: 0.8em;
  float:left;
}

.select2-collection-link {
  float: right;
  font-size: 0.8em;
  color: #999;
}

.select2-collection-header {
  display: block;
  height: 1em;
}

.select2-item {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.select2-arrow {
  visibility: hidden;
}

.navbar-form .form-group .searchbox {
  width: 15em;
}

.tag {
  padding: 0.25em 0.5em;
  background-color: #999;
  border-radius: 0.5em;
  font-size: 0.8em;
  font-weight: bold;
  white-space: nowrap;
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
  }
}

.navbar-btn {
   padding-left: 1em;
}